<section id="banner">
    <div class="wrapper">
	   
		   
		   <svg id="ice-bear" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" viewBox="0 0 800 400">
	<a title="{{ site.baseurl }}" href="{{ site.baseurl | append: "/" }}"> 	
            <g id="welcom-text" style="text-shadow: 1px 1px #EFEFEF, 2px 2px #ccc">
                <text x="50" y="130" fill="#ed5565" font-size="50">B</text>
                <text x="100" y="140" fill="#f4b350" font-size="55">E</text>
                <text x="150" y="135" fill="#f2db94" font-size="50">B</text>
                <text x="200" y="145" fill="#62ddbd" font-size="60">E</text>
                <text x="250" y="130" fill="#62B3E5" font-size="55">K</text>
                <text x="340" y="145" fill="#ec87c0" font-size="50">İ</text>
                <text x="365" y="135" fill="#b3aeef" font-size="55">H</text>
		<text x="420" y="140" fill="#ed5565" font-size="55">T</text>
                <text x="470" y="135" fill="#f4b350" font-size="60">İ</text>
                <text x="500" y="130" fill="#f2db94" font-size="55">Y</text>
                <text x="540" y="140" fill="#62ddbd" font-size="50">A</text>
                <text x="580" y="145" fill="#62B3E5" font-size="60">Ç</text>
                <text x="630" y="130" fill="#ec87c0" font-size="55">L</text>
	        <text x="670" y="145" fill="#ed5565" font-size="60">A</text>
                <text x="720" y="135" fill="#f4b350" font-size="65">R</text>
                <text x="770" y="140" fill="#62B3E5" font-size="60">I</text>
            </g>
	 </a>
            <g id="bear-head" fill="white">
                <circle r="20" cx="380" cy="310"></circle>
                <circle r="20" cx="500" cy="310"></circle>
                <path d="M 360 400 V 355 A30 30 0 0 1 520 360 V 400"></path>
                <circle r="5px" cx="410" cy="330" fill="black"></circle>
                <circle r="5px" cx="470" cy="330" fill="black"></circle>
                <ellipse rx="15" ry="10" cx="440" cy="340" fill="black"></ellipse>
                <path d="M 430 360 Q 440 370 450 360" stroke="black" stroke-width="2"></path>
            </g>
            <g id="bear-paw-left" transform="matrix(1,-0.0075,0.0075,1,-3.0062,2.5749)">
                <path d="M 305 410 V 300 A30 30 0 0 1 365 310 V 410" fill="white" stroke="#C4E8F8" stroke-width="1px"></path>
                <g fill="#62B3E5">
                    <circle r="5" cx="315" cy="305"></circle>
                    <circle r="5" cx="355" cy="305"></circle>
                    <circle r="5" cx="327" cy="295"></circle>
                    <circle r="5" cx="343" cy="295"></circle>
                    <ellipse rx="15" ry="10" cx="335" cy="320"></ellipse>
                </g>
                <!--<animateTransform attributeName="transform" begin="0s" dur="3s" type="rotate" values="-14 340 400;15 340 400;-15 340 400" repeatCount="indefinite"/>-->
            </g>
            <g id="sea">
                <path d="M 60 400 C 70 360 150 360 160 400 C 170 360 250 360 260 400 C 270 360 350 360 360 400 C 370 360 450 360 460 400 C 470 360 550 360 560 400 C 570 360 650 360 660 400 C 670 360 750 360 760 400 Z" fill="#62B3E5"></path>
            </g>
            <g id="bear-paw-right">
                <path d="M 515 440 V 380 A30 30 0 0 1 575 390 V 440" fill="white" stroke="#C4E8F8" stroke-width="1px" transform="rotate(20, 575 390)"></path>
            </g>
        <desc>Created with Snap</desc><defs></defs></svg>
    </div>
</section>
